.header{
  min-height:60;
  border: 2px solid black;
  margin: 0 0 30 0;
}
.blue{
  background-color: #005ab2;
  color: white;
  font-family: arial;
}
.headbuff{
  min-height:400;
  padding: 10 80 0 0;
  border-top: 20px solid lightblue;
}
.innerhead{
  padding: 35 35 0 45;
  text-align: center;
}
.words{
  padding: 10 10 10 50;
}
.footer{
  min-height: 50;
  border: 2px solid black;
}
.right-article{
  margin: 50 0 0 0;
  max-width:250;  
}